---
import Landing from '../components/Landing.tsx';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo-activa-medios.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activa Medios | Dale volumen a tu marca</title>
  </head>
  <body class="bg-black text-white m-0 p-0">
    <!-- El client:load es vital para que los botones y animaciones funcionen -->
    <Landing client:load />
  </body>
</html>
